export BW_SESSION=$(bw unlock --raw)
export DOCKER_USER=$(bw get username dockerhub-access-token)
export DOCKER_PASS=$(bw get password dockerhub-access-token)
export GIT_EMAIL=$(bw get username SAA_CONCOURSE_DEMO)
export GIT_TOKEN_FOR_PRS=$(bw get password SAA_CONCOURSE_DEMO)
export CONCOURSE_EXTERNAL_URL=http://localhost:8080
export MAVEN_USERNAME=$(bw get username spring-enterprise-mvn-remote)
export MAVEN_PASSWORD=$(bw get password spring-enterprise-mvn-remote)
export GITHUB_ORGS='["dashaun-demo","pikorifi-cc"]'
export ADVISOR_VERSION=1.6.1